<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.project">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.HIGH_SAMPLING_RATE_SENSORS" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Quiz693"
            android:exported="false" />
        <activity
            android:name=".Quiz2"
            android:exported="false" />
        <activity
            android:name=".Quiz1"
            android:exported="false" />
        <activity
            android:name=".TiltAll"
            android:exported="false" />
        <activity
            android:name=".gmaillogin2"
            android:exported="false" />
        <activity
            android:name=".gmaillogin"
            android:exported="false" />
        <activity
            android:name=".realtimedb4"
            android:exported="false" />
        <activity
            android:name=".realtimedb3"
            android:exported="false" />
        <activity
            android:name=".realtimedb2"
            android:exported="false" />
        <activity
            android:name=".realtimedb"
            android:exported="false" />
        <activity
            android:name=".OTP3"
            android:exported="false" />
        <activity
            android:name=".OTP2"
            android:exported="false" />
        <activity
            android:name=".OTP"
            android:exported="false" />
        <activity
            android:name=".Video"
            android:exported="false" />
        <activity
            android:name=".Browser"
            android:exported="false" />
        <activity
            android:name=".Torch"
            android:exported="false" />
        <activity
            android:name=".Calci"
            android:exported="false" />
        <activity
            android:name=".Third"
            android:exported="false" />
        <activity
            android:name=".Second"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>